body{
    background-color: pink;
}
h1{
    font-family: fantasy;
    color: blueviolet;
}
h2{
    font-family: fantasy;
    color: blueviolet;
}
h3{
    font-family: fantasy;
    color: blueviolet;
}
p{
    font-size: medium;
    font-family: fantasy;
    color: darkmagenta;
}
button{
    color: deeppink;
}